# Make OptionsSubScreen fields public
public net.minecraft.client.gui.screens.options.OptionsSubScreen f_96123_ # list
public net.minecraft.client.gui.screens.options.OptionsSubScreen f_96124_ # lastScreen